# 3. <a id='intro'>[Pandas](https://www.freecodecamp.org/news/how-to-analyze-data-with-python-pandas/)</a>

Despite NumPy powerful, it has critical drawbacks:

- It lacks support for column names, requiring us to formulate inquiries in the context of multi-dimensional array operations.
- It permits only a single data type per ndarray, leading to complications in managing mixed numeric and string data.
- Despite the existence of numerous low-level methods, certain common analysis patterns do not have pre-existing methods.

Fortunately, Pandas (from panel data) come to the rescue!

*Based on Dataquest course "Data Ana√±yst in Python"*

- <a href='#def'>3.1. Definition</a>  
- <a href='#series'>3.2. Pandas Series</a>
     - <a href='#3.2.1'>3.2.1. From `lists` to `Series`</a>
     - <a href='#3.2.2'> 3.2.2. From `NumPy array` to `Series`</a>
     - <a href='#3.2.3'> 3.2.3. From `Dictionary` to `Series`</a>
     - <a href='#3.2.4'> 3.2.4. `Series` vs `NumPy`</a>
     - <a href='#3.2.5'> 3.2.5 Indexing</a></a>
- <a href='#3.3'>3.3 DataFrame</a>
     - <a href='#3.3.1'>3.3.1 DataFrame Generation</a>
     - <a href='#3.3.2'>3.3.2 Indexing</a>
     - <a href='#3.3.3'>3.3.3 General Methods</a>
     - <a href='#3.3.4'>3.3.4 Importing Data</a>
     - <a href='#3.3.5'>3.3.5 Filtering data</a> 
     - <a href='#3.3.6'>3.3.6 Dealing with nulls</a>  
     - <a href='#3.3.7'>3.3.7 Duplicates</a>  
     - <a href='#3.3.8'>3.3.8 Groupby</a>  
     - <a href='#3.3.9'>3.3.9 Reshape</a>  
     - <a href='#3.3.10'>3.3.10 Merge</a>  
     
- <a href='#3.4'>3.4 References</a>

## 3.1. <a id='def'>Definition</a>

Pandas is a Python library used for working with data sets. This is the "must-learn" library for Data I/O, cleaning, transforming and aggregation. It is an external library so we need to import it in your applications by adding the `import` keyword

In [ ]:
import pandas as pd
import numpy as np

Now the `Pandas` package can be referred to as `pd` instead of pandas.

## 3.2. <a id='series'>[Pandas Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)</a>

The first pandas data strucuture is a Series. A Series is a one-dimensional array that can hold any datatype, similar to a ndarray. However, a Series has a **index** that gives a a label to each entry. An index generally is used to label the data.
Typically a Series contains information about **one feature** of the data. <br>

A `Pandas Series` is a one-dimensional array of indexed data. It can be created from a list or array as follows:

### 3.2.1. <a id='3.2.1'>From `lists` to `Series`<a>

In [ ]:
list_1 = [ 0.25, 0.5, 0.75, 1.0 ]
list_1

In [ ]:
data = pd.Series( list_1 )
data

In [ ]:
type(data)

### 3.2.2. <a id='3.2.2'> From `NumPy array` to `Series` <a>

In [ ]:
vector_1 = np.array( [ 10, 20, 1, 2, 
                    3, 4, 5, 6, 7 ] )
vector_1

In [ ]:
series1 = pd.Series( vector_1 )
series1

In [ ]:
vector_2  = np.array( [ 10, 20, 7 ] ) 
vector_2

In [ ]:
series1 = pd.Series( vector_2 , index = ["Brisa", "Alex", "Valeria"] )
series1

### 3.2.3.  <a id='3.2.3'> From `Dictionary` to `Series` </a>

In [ ]:
population_dict = { 'California' : 38332521.0,
                    'Texas'      : 26448193,
                    'New York'   : 19651127,
                    'Florida'    : 19552860,
                    'Illinois'   : 12882135 }

In [ ]:
population = pd.Series( population_dict, name="States_Pop")
population

As we see in the output, the `Series` wraps both a sequence of values and a sequence of indices, which we can access with the `values` and `index` attributes. The values are simply a familiar NumPy array:

In [ ]:
population.values

In [ ]:
population.index

### 3.2.4.  <a id='3.2.4'> `Series` vs `NumPy`</a>

The essential difference is the presence of the index: while the `Numpy Array` has an implicitly defined integer index used to access the values, the `Pandas Series` has an explicitly defined index associated with the values. <br>

The `index` do not need to be an integer. we can use `strings`.

In [ ]:
claudia = np.arange(5, 21, 2)
claudia

In [ ]:
math = pd.Series( np.arange(5.,21.,3.) , ['joyce','jeremy','ivan','marcy','daniel','franclin'])
math

In [ ]:
info = np.arange(5 , 15 ,3.)
index_info =  ['joyce','jeremy','ivan','marcy']

In [ ]:
math_2 = pd.Series(  info , index_info, dtype = int,  name = "Daniel")
math_2

Excersice: <br>
Get the `values` and `index` from `math` `Series`.

### 3.2.5.  <a id='3.2.5'> Indexing</a>


Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. Indexing could mean selecting all the rows and some of the columns, some of the rows and all of the columns, or some of each of the rows and columns. Indexing can also be known as Subset Selection.

In [ ]:
print( data )
print( population )

In [ ]:
data

In [ ]:
data[ 0:2 ]

In [ ]:
data[ 3:4 ]

In [ ]:
population

In [ ]:
population[ "New York":"Illinois" ]

In [ ]:
print( population[ 'California':'Texas' ] )

| Method 	| Definition 	|
| --- 	| --- 	|
| loc() 	| Gets rows (and/or columns) with particular labels.<br> Accept `Boolean` for indexing. |
| iloc() 	| gets rows (and/or columns) at integer locations. <br> Do not accept `Boolean` for indexing.|

Get the value of New York.

In [ ]:
population

In [ ]:
population.loc[ "New York" ]

In [ ]:
population_2 =

In [ ]:
population.iloc[ [True, True, False, False, True] ]

In [ ]:
print( population.loc[ "New York" ] == population.iloc[ 2 ] )

Replicate this excersice for `data` Series.

## 3.3.  <a id='3.3'> [DataFrame](https://www.w3schools.com/python/pandas/pandas_dataframes.asp)</a>


A DataFrame is a collection of multiple Series. It can be thought of as a 2-dimensional array, where each row is a separate datapoint and each column is a feature of the data. The rows are labeled with an index(as in a Series) and the columns are lebeled in the attribute columns.<br>
There are many different ways to initialize a DataFrame. <br>

### 3.3.1. <a id='3.3.1'> DataFrame Generation</a>
#### From `lists` and `dict` to `DataFrame`

In [ ]:
# Grades
students = [ "Alejandro", "Pedro", "Ramiro", "Axel", "Juan" ]
math     = [ 15, 16, 10, 12, 13 ]
english  = [ 13, 9, 16, 14, 17 ]
art      = [ 12, 16, 15, 19, 10 ]

# Dictionary
grades_A = { 'Students':students, 'Math':math, 'English':english, 'Art':art }

In [ ]:
grades_A

In [ ]:
gradesA1 = pd.DataFrame( grades_A )
gradesA1

In [ ]:
grades_A["dataframe_stephy"] = gradesA1

In [ ]:
grades_A

In [ ]:
grades_A.pop("dataframe_stephy")

In [ ]:
gradesA1

#### From `lists` and `NumPy` to `DataFrame`

In [ ]:
list_1 = [ 1, 2, 3 ]
list_2 = [ 4, 5, 6 ]
list_3 = [ 7, 8, 9 ]

In [ ]:
values = np.array([list_1 ,list_2 ,list_3 ] )
values

In [ ]:
col_names = [ 'a', 'b', 'c' ]

In [ ]:
data2 = pd.DataFrame( values, columns = col_names, index = ["cesar", "joaquin", "jennifer"] )
data2

### 3.3.2. <a id='3.3.2'> Indexing</a>

We can use the same methods as `Series`: `iloc` and `loc`. We can select columns and rows.

In [ ]:
# Grades
students = [ "Gissela", "Daniel", "Andres", "Sandra", "Rosalyn" ]
math     = [ 16, 14, 17, 17, 17 ]
english  = [ 16, 17, 19, 18, 15 ]
art      = [ 11, 17, 13, 14, 17 ]

# Dictionary
diplomado = {'Students':students, 'Math':math, 'English':english, 'Art':art}
gradesA1 = pd.DataFrame( diplomado )
gradesA1

In [ ]:
gradesA1.loc[ 0:0 , : ]

In [ ]:
gradesA1.loc[ : , ["Students", "Art"] ]

In [ ]:
gradesA1.loc[ 0:3 , ["Students" , "Math"] ]

In [ ]:
gradesA1

In [ ]:
# iloc
gradesA1.iloc[ 0:2 , 0:2 ]

In [ ]:
gradesA1.iloc[ 0:2, 0:3 ]

In [ ]:
gradesA1

In [ ]:
gradesA1.iloc[ [0, 2, 4] , : ]

### 3.3.3. <a id='3.3.3'> General Methods</a>

|Method|Description|
|------|-----------|
|columns()|Get the name of the columns.|
|sort_values()|Sort by the values along either axis.|
|sort_index()|Sort by the index.|
|head()|Show the first N observations.|
|drop( )| Remove the entries  <br>  with the specified label or labels|
|append( )| Concatenate two or more Series.|
|drop_duplicates( )| Remove duplicate values|
|dropna( ) |Drop null entries|
|fillna( ) |Replace null entries <br> with a specified value or strategy|
|reset_index( )| Index as column.|
|sample( ) |Draw a random entry|
|shift( ) |Shift the index|
|unique( ) |Return unique values|

In [ ]:
from datetime import datetime as dt

df = pd.DataFrame(data=[22,22,3],
                  index=[dt(2023, 11, 10, 0), dt(2023, 11, 10, 13), dt(2023, 11, 13, 5)],
                  columns=['foo'])
print(df)

In [ ]:
df1 = df.sort_values(by='foo')
print(df1)

In [ ]:
df.sort_values(by='foo', inplace=True)
print(df)

In [ ]:
deps = {
        'dep' : ['Lima', 'Piura', 'Tumbes', 'Cuzco', 'Ica', 'Puno'],
        'year': [ 2000, 2001, 2002, 2001, 2002, 2003 ],
        'pop' : [ 1.5, 1.7, 3.6, 2.4, 2.9, 3.2 ] 
        }
dep1 = pd.DataFrame( deps )
dep1

In [ ]:
dep1.sort_values( ["year"] , ascending = False)

In [ ]:
dep1.sort_values( [ "year", "pop" ] , ascending = True)

In [ ]:
dep1

In [ ]:
dep1.sort_values( [ "year", "pop" ] , ascending = True, inplace = True)
dep1

In [ ]:
# Back to the original
dep1.sort_index( inplace = True )
dep1

In [ ]:
gradesA1

In [ ]:
type(gradesA1[ 'Math' ])

In [ ]:
gradesA1[ 'Math' ]+50

In [ ]:
# Operations with DataFrame, new column
gradesA1[ "avg" ] = ( gradesA1[ 'Math' ] + gradesA1[ 'English' ] + gradesA1[ 'Art' ] ) / 3

In [ ]:
gradesA1["avg"]

In [ ]:
gradesA1

In [ ]:
# Mean Math & English
gradesA1.iloc[:, 2:4].mean( axis = 1)

In [ ]:
# Mean Math adn Art
gradesA1.iloc[:, [1, 3]].mean( axis = 1)

In [ ]:
# head
gradesA1.head(1)

In [ ]:
gradesA1

In [ ]:
gradesA1_2 = gradesA1.drop( ["avg", "English"] , axis = 1 )
gradesA1_2

In [ ]:
# add new data gradesA2
students = [ "Rebeca", "Xavi", "Cristiano", "Ronaldo", "Leo" ]
math     = [ 15, 18, 14, 7, 10 ]
english  = [ 18, 9, 11, 12, 20 ]
art      = [ 10, 16, 20, 19, 5 ]

# Dictionary
grades_A2 = {'Students':students, 'Math':math, 'English':english, 'Art':art}
gradesA2 = pd.DataFrame( grades_A2 )
print(gradesA2)

In [ ]:
print(gradesA1)

In [ ]:
gradesA1  = gradesA1.drop( [ 'avg' ], axis = 1 )
gradesA1

In [ ]:
grades_total = pd.concat([gradesA1,gradesA2], ignore_index = True)
grades_total

In [ ]:
grades_total =  pd.concat([gradesA1,gradesA2])
grades_total

In [ ]:
cars = pd.DataFrame({
            'brands'    : [ 'hyundai', 'hyundai', 'kia', 'kia', 'kia' ] ,
            'model'     : [ 'sedan', 'sedan', 'sedan', 'truck', 'truck' ] ,
            'passengers': [ 4, 4, 5, 6, 8 ]
            })

In [ ]:
print(cars)

In [ ]:
# Duplicates
cars_subset1 = cars.drop_duplicates(subset = [ 'brands' ])
cars_subset1

In [ ]:
# Duplicates
cars_subset2 = cars.drop_duplicates( subset = ["brands"] , keep = "last")
cars_subset2

In [ ]:
gradesA1_1 = gradesA1.drop( ['Art'], axis = 1 )
gradesA1_1

In [ ]:
grades_total  = pd.concat([gradesA1_1, gradesA2] ,  ignore_index = True).copy()
grades_total

In [ ]:
# dropna
grades_total.dropna()

In [ ]:
grades_total

In [ ]:
# dropna
grades_total_NA = grades_total.dropna()

In [ ]:
grades_total_NA

In [ ]:
grades_total.fillna( "5" )
grades_total

In [ ]:
# fillna
grades_total_fill_na = grades_total.fillna( "5" )
grades_total_fill_na

In [ ]:
print(grades_total.isna().sum())

In [ ]:
grades_total.reset_index()

In [ ]:
grades_total.reset_index( drop = True )

In [ ]:
grades_total.sample( n = 5)

In [ ]:
grades_total.sample( frac = 0.5)

In [ ]:
# unique
cars['brands'].unique()

### 3.3.4. <a id='3.3.4'> Importing Data</a>

|Method|Description|
|------|-----------|
|read_excel( )|Read a excel file and convert to a DataFrame.|
|to_csv( )| Write the index and entries to a CSV file|
|read_csv( )| Read a csv and convert into a DataFrame|
|to_json( )| Convert the object to a JSON string|
|to_pickle( )| Serialize the object and store it in an external file|
|to_sql( )| Write the object data to an open SQL database|
|read_html( )| Read a table in an html page and convert to a DataFrame|
|read_spss( )| Read a spss file and convert to a DataFrame.|

[ENAPRES DATA](http://proyecto.inei.gob.pe/enapres/)

The National Survey of Budgetary Programs - ENAPRES, has been running since 2010 in the urban and rural areas of the 24 Departments and the Constitutional Province of Callao, as part of the research carried out by the National Institute of Statistics and Informatics (INEI) in coordination with the Ministry of Economy and Finance (MEF) and the different ministries and agencies of the public sector.

In [ ]:
# pip install pyreadstat

In [ ]:
pwd

In [ ]:
import pyreadstat

In [ ]:
# read sav data using pyreadstat
enapres2022, meta =pyreadstat.read_sav(r"785-Modulo1727/CAP_100_URBANO_RURAL_3.sav" )

In [ ]:
type(enapres2022)

In [ ]:
enapres2022

In [ ]:
# read sav data using pyreadstat
enapres2022, meta =pyreadstat.read_sav(r"785-Modulo1727/CAP_100_URBANO_RURAL_3.sav" , apply_value_formats=True)

In [ ]:
enapres2022

### 3.3.5. <a id='3.3.5'>Filtering data</a>

In [ ]:
# select observations
# when we create a sample from our data, copy the object.
df_urban_main = enapres2022.loc[ enapres2022.AREA == 'URBANO', : ]
df_urban_main

In [ ]:
df_urban = df_urban_main.loc[ df_urban_main.RESFIN == 'Completa', : ]
df_urban

In [ ]:
new_data = enapres2022.loc[ (enapres2022.AREA == 'URBANO') &  (enapres2022.RESFIN == 'Completa') , : ]
new_data

In [ ]:
df_urban.columns

In [ ]:
# Select columns with regex
# All the columns that start with P172
df_urban.filter( regex = "P172*")

In [ ]:
# all columns that have an X
df_urban.filter( like = "P172")

In [ ]:
data = {
    'Name': ['John', 'Doe', 'Alice', 'Bob', 'Chris'],
    'Age': [25, 30, 22, 28, 35],
    'Salary': [50000, 60000, None, 75000, 90000],
    'Experience': [2, 5, 1, None, 10]
}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
salary_nan_count = df.isna().sum()

print(salary_nan_count)

### 3.3.6. <a id='3.3.6'>Dealing with nulls</a>

We drop columns that at least 30% values are null to simplify our Exploratory Data Analysis (EDA).

In [ ]:
null_sum = df_urban.isna().sum()
null_sum

In [ ]:
df_urban.columns[ null_sum < len( df_urban ) * 0.2 ]

In [ ]:
df_urban.drop(columns = df_urban.columns[null_sum > len( df_urban ) * 0.2 ], inplace = True )

In [ ]:
df_urban

In [ ]:
# cheack ID in pandas
( df_urban['PER'].astype(str)+ "_" + 
 df_urban['MES'].astype(str)+ "_" + 
 df_urban['CCDD'].astype(str) + "_" + 
 df_urban['CCPP'].astype(str) + "_" + 
 df_urban['CCDI'].astype(str) + "_" + 
 df_urban['CONGLOMERADO'].astype(str) + "_" + 
 df_urban['NSELV'].astype(str) + "_" +
 df_urban['VIVIENDA'].astype(str) + "_" + 
 df_urban['HOGAR'].astype(int).astype(str) 
).is_unique

### 3.3.7. <a id='3.3.7'>[Duplicates](https://thispointer.com/pandas-find-duplicate-rows-in-a-dataframe-based-on-all-or-selected-columns-using-dataframe-duplicated-in-python/)</a>  

See duplicatedes in rows.

In [ ]:
df_urban[ df_urban.loc[:, ['CCDD' ,'CCPP' , 'CCDI' ,'CONGLOMERADO' , 'NSELV', 'VIVIENDA', 'HOGAR']].duplicated( keep=False) ]

We will drop the last duplication.

In [ ]:
df_urban_no_dpl = df_urban[ ~df_urban.loc[:, ['CCDD' ,'CCPP' , 'CCDI' ,'CONGLOMERADO' , 'NSELV', 'VIVIENDA', 'HOGAR']].duplicated() ].copy()
df_urban_no_dpl

In [ ]:
df_urban_no_dpl.value_counts()

In [ ]:
df_urban_no_dpl.ESTRATO

### 3.3.8. <a id='3.3.8'>Groupby</a>

In [ ]:
# from yes to 1 and 0 to no
df_urban_no_dpl['P172D'] = df_urban_no_dpl['P172D'].astype(int)

In [ ]:
df_urban_no_dpl.P172D.value_counts()

In [ ]:
df_urban_no_dpl.groupby( [ 'CCDD' ,'P172D' ] )[['P172D']].sum()

In [ ]:
df_urban_no_dpl.groupby( [ 'CCDD' ] )[['P172D']].mean()

In [ ]:
df_urban_no_dpl.groupby( [ 'CCDD' ], as_index = False )[['P172D']].mean()

#### [Agg](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html)
Aggregate using one or more operations over the specified axis.

In [ ]:
df_urban_no_dpl['P172D'] = df_urban_no_dpl['P172D'].astype( float )

In [ ]:
df_urban_no_dpl.groupby( [ 'CCDD' ,'CCPP' , 'CCDI' ], as_index = False ).agg( { "P172D": "mean" } )

In [ ]:
df3_rec = df_urban_no_dpl.groupby( [ 'CCDD' ,'CCPP' , 'CCDI' ] , 
                                as_index = False 
                               ).agg( 
                                    recycle_median = ( 'P172D', np.median ), 
                                    recycle_mean = ( 'P172D', np.mean ) 
                                )
df3_rec

### 3.3.9. <a id='3.3.9'>Reshape</a>

#####  From Wide to Long

In [ ]:
df3_rec

In [ ]:
df3_rec_stack = df3_rec.set_index(  [ 'CCDD' ,'CCPP' , 'CCDI' ]  ).stack().reset_index().rename( {"level_3" : "STATS", 
                                                                                0 : "VALUES" }, axis = 1 )
df3_rec_stack

In [ ]:
df3_rec_melt = df3_rec.melt( 
                    id_vars = [ 'CCDD' ,'CCPP' , 'CCDI' ] ,
                    var_name = 'STATS', 
                    value_name = 'VALUES'
                 )
df3_rec_melt

##### From Long to Wide

In [ ]:
df3_rec_stack.set_index(  [ 'CCDD' ,'CCPP' , 'CCDI' , "STATS" ]  ).unstack()

In [ ]:
df4 = df3_rec_stack.set_index(  [ 'CCDD' ,'CCPP' , 'CCDI' , "STATS" ]   ).unstack().rename_axis( [None, None], axis = 1 )


df4.columns = df3_rec_stack.STATS.unique()

df4.reset_index()

In [ ]:
df_l_w = df3_rec_stack.pivot( index = [ 'CCDD' ,'CCPP' , 'CCDI' ], 
                         columns = 'STATS' ,
                         values = 'VALUES' 
                        ).rename_axis( [None], axis = 1 ).reset_index()
df_l_w

### 3.3.10. <a id='3.3.10'>[Merge](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)</a>

In [ ]:
df_urban_merge = df_urban_no_dpl.merge( df_l_w , on = [ 'CCDD' ,'CCPP' , 'CCDI' ] , how = "left" , validate = "m:1" ).head()

In [ ]:
df_urban_merge.head()

In [ ]:
# See all your DataFrames
%whos DataFrame

## 3.4. <a id='3.4'>References</a>  

1. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html
2. https://towardsdatascience.com/all-the-core-functions-of-python-pandas-you-need-to-know-d219cbd87636
3. https://pandas.pydata.org/docs/reference/api/pandas.melt.html#pandas.melt
4. https://stackoverflow.com/questions/47152691/how-can-i-pivot-a-dataframe
5. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html
6. https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
7. https://thispointer.com/pandas-find-duplicate-rows-in-a-dataframe-based-on-all-or-selected-columns-using-dataframe-duplicated-in-python/